<table id="report">
  <tr>
    <th><%= sortable 'username', t(:username) %></th>
    <th><%= sortable 'path', t(:path) %></th>
    <th><%= sortable 'gid', t(:gid) %></th>
    <th><%= sortable 'gidname', t(:gidname) %></th>
    <th><%= sortable 'day_count', pl(:day) %></th>
    <th><%= pl(:month) %></th>
    <th><%= sortable 'day_of_registration' %></th>
  </tr>
  <% mstats.each do |mstat| %>
    <%= render 'months/tablemonth', mstat:mstat %>
  <% end %>
</table>
