<tr>
  <td><%= link_to mstat.username, mstat.account %></td>
  <td><%= link_to mstat.path, mstat.membership %></td>
  <td><%= link_to mstat.gid, mstat.group %></td>
  <td><%= mstat.gidname %></td>
  <td><%= mstat.day_count %></td>
  <td><%= mstat.month_count %></td>
  <td><%= mstat.day_of_registration %></td>
</tr>
