<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String"><%= t(:username) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t(:path) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t(:gid) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t(:gidname) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= pl(:day) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= pl(:month) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t(:day_of_registration) %></Data></Cell>
      </Row>
    <% @mstats.each do |mstat| %>
      <Row>
        <Cell><Data ss:Type="String"><%= mstat.username %></Data></Cell>
        <Cell><Data ss:Type="String"><%= mstat.path %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= mstat.gid %></Data></Cell>
        <Cell><Data ss:Type="String"><%= mstat.gidname %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= mstat.day_count %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= mstat.month_count %></Data></Cell>
        <Cell><Data ss:Type="String"><%= mstat.day_of_registration %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>


