<tr>
  <td><%= link_to membership.username, membership.account %></td>
  <td><%= link_to membership.path, membership %></td>
  <td><%= membership.uid %></td>
  <td><%= membership.realname %></td>
  <td><%= link_to membership.gid, membership.group %></td>
  <td><%= membership.gidname %></td>
</tr>
