<table id="users">
  <tr>
    <th><%= sortable 'accounts.username', t(:username) %></th>
    <th><%= sortable 'path', t(:path) %></th>
    <th><%= sortable 'accounts.uid', t(:uid) %></th>
    <th><%= sortable 'accounts.realname', t(:name) %></th>
    <th><%= sortable 'groups.gid', t(:gid) %></th>
    <th><%= sortable 'groups.gidname', t(:gidname) %></th>
  </tr>
  <% memberships.each do |membership| %>
    <%= render 'memberships/tableuser', membership:membership %>
  <% end %>
</table>
